*{
    margin: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}

.content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  
}
header{
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #ECE025;
    
}
div.div-image{
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
}
nav a.menu {
    font-weight: 600;
    padding-left: 25px;
    color: #008412;
    font-size: 20px;
}
nav a:hover{
    color: gray;

}
button{
    border: none;
    padding :12px 30px;
    border-radius: 30px;
    color: gray;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left:15px; 
}
button:hover{
    transform: scale(1.3);
}
nav button.button1{
    background:#ECE025;
    background-size: 20px;
    border: 2px solid #4CAF50;
    justify-items: center;
    border-radius: 30px;

}
nav button.button1:hover{
    transform: scale(1.3);
    background-color: #50FE68;
    color: gray;
}
nav button.button2{
    background:#50FE68;
    background-size: 20px;
    border: 2px solid #4CAF50;
    justify-items: center;
    border-radius: 30px;
}
nav button.button2:hover{
    background-color: #ECE025; 
    color: gray;
}

img.head-image{
    height: 80px;
}
iframe{
    display: grid;
    width: 100%;
    height: 557px;
}
div.encabezado{
    display: flex;
    margin-left: 20px;
}
div.encabezado h2{
    font-size: 30px;
    margin: 5% 0 ;
}
.all{
    margin: 5% 3%;
    color: white;
}

div.contexto{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    

}
div.contenido{
    margin: 20px;
    font-size: 17px;
}
button.info{
    margin-top: 30px;
    justify-content: start;
    background-color:unset;
    border: 2px solid #4CAF50;
    color: white;
}
div.contenido2{
    display: flex;
    margin-top: 30px;
}
div.contexto2{  
    margin: 10% 0 0 5%;
    font-size: 17px;
}
div.contenido3{
    display: flex;
    margin-top: 1%;
    background-color: gray;
}
div.contexto3{  
    margin: 10% 5%;
    color: white;
    font-size: 17px;
}
div.image{
    margin: 20px ;
}





